* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $base-font;
  font-size: 100%;
  color: $color-text;
}

main {
  margin: 2rem;
}

:first-child {
  margin-top: 0;
}

:last-child {
  margin-bottom: 0;
}