@import 'normalize/import-now';

@import 'variables';
@import 'typography';
@import 'accessibility';

* {
    box-sizing: border-box;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}
